{% extends 'base.html.twig' %}

{% block body %}
    <h1  > hello my symfony</h1>

     {% include ':Includes:index_body.htlm.twig' %}


{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}
