<!-- Detached sidebar -->
<div class="sidebar-detached">
    <div class="sidebar sidebar-default sidebar-separate">
        <div class="sidebar-content">

            <!-- User details -->
            <div class="content-group">
                <div class="panel-body bg-black-400 border-radius-top text-center">
                    <div class="media">
                        <div class="media-left">
                            <span class="btn bg-warning-400 btn-rounded btn-icon btn-xs">
                                <span class="letter-icon">Rahali Dali </span>
                            </span>
                        </div>

                        <div class="media-body">
                            <h6 class="media-heading">Welcome  Rahali Dali</h6>
                        </div>
                    </div>
                </div>

                <div class="panel no-border-top no-border-radius-top">
                    <ul class="navigation">
                        <li class="navigation-header">My Account</li>
                        <li><a href="#"><i class="icon-git-pull-request"></i> Onboarding Workflow</a></li>
                        <li><a href="#"><i class="icon-file-upload"></i> Your Uploaded Documents</a></li>
                        <li><a href="#"><i class="icon-files-empty"></i> Your Contractual Documents</a></li>
                        <li><a href="#"><i class="icon-file-text"></i> Regulatory Documents</a></li>
                        <li><a href="#"><i class="icon-user-plus"></i> Invite User</a></li>
                        <li><a href="#"><i class="icon-gear"></i> Settings</a></li>
                        <li class="navigation-divider"></li>
                        <li><a href="#"><i class="icon-switch2"></i> Log Out</a></li>
                    </ul>
                </div>
            </div>
            <!-- /user details -->






        </div>
    </div>
</div>
<!-- /detached sidebar -->