{% extends 'base1.html.twig' %}

{% block content %}

<h1 > Mon nom est {{ personne.nom }}</h1> </br>
    <h1 > Mon Prenom est {{ personne.prenom }}</h1> </br>


{% endblock %}




{% block stylesheets %}
    <style>


    </style>
{% endblock %}
